<p>Rate works! from <a href="https://academia-binaria.com/comunicaciones-http-en-Angular/">this</a></p>
<h2> Currency Rates. </h2>
<h3> From Euro to the world </h3>
<p>HSKNDR: From exchanges api (not use service)</p>
<div>
  <pre>{{ currentEuroRates | json }}</pre>
</div>

<div>
  <p>Save Rates and Refresh</p>
  <input value="Save Rates" class="primary" type="button" (click)="postRatesByDate()"/>
  <input value="Refresh" class="primary" type="button" (click)="getRatesByDate()"/>
  <input value="Delete Rates" class="secondary" type="button" (click)="deleteRatesByDate()"/>
  <div style="border: 1px solid green">
    <pre>{{ ratesByDate| json }}</pre>
  </div>

</div>


