<div class="container border">
  <h1>Anti-heroes</h1>
  <h2>Example display</h2>
</div>


<div class="container-1 border">
  <h1>container 1</h1>
  <h2>I dont know how it works</h2>
</div>


<div class="container-2 border">
  <h1>container 2</h1>
</div>


<div class="container-3 border">
  <h1>container 3</h1>
</div>


<div class="container-4 border">
  <h1>container 4</h1>
</div>

<div class="container-5 border">

  <div class="item-a border">header
    <h1>container 5</h1>
  </div>

  <div class="item-b border">main
    <p>other main</p>
  </div>
  <div class="item-c border">sidebar
    <p>other sidebar</p>
  </div>
  <div class="item-d border">footer
    <p>other footer</p>
  </div>
</div>
<br><br>
<p>other box example</p>
<div class="wrapper border">
  <div class="one border">one</div>
  <div class="two border">two</div>
  <div class="three border">three</div>
  <div class="four border">four</div>
  <div class="five border">five</div>
</div>
