<!--The content below is only a placeholder and can be replaced.-->
<div class="header-container">
  <div class="header">
    <app-hskndr-code></app-hskndr-code>
    <h1 class="title">&nbsp;{{ title }}</h1>
  </div>
  <nav class="navbar">
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
    <a routerLink="/grid">Grid Example</a>
    <a routerLink="/flex">Flex Example</a>
    <a routerLink="/apiary">Apiary</a>
    <a routerLink="/rates">Rates</a>
    <a routerLink="/mercadolibre">Mercado Libre</a>
    <a routerLink="/user">User</a>
    <a routerLink="/news">News</a>
  </nav>
</div>
<div class="main">
  <router-outlet></router-outlet>
</div>

<app-messages></app-messages>


